{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./app/components",
        "widgets": "./app/widgets",
        "actions": "./app/actions",
        "reducers": "./app/reducers",
        "utilities": "./app/utilities",
        "images": './assets/images'
      }
    }]
  ]
}
