{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./app/components",
        "actions": "./app/actions",
        "reducers": "./app/reducers"
      }
    }]
  ]
}
